Source: grml-crypt
Section: admin
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: grml-crypt
Architecture: all
Depends: grml-shlib (>=1.02.07), cryptsetup-luks, realpath, dmsetup
Description: wrapper arround cryptsetup-luks
 This software should provide an easy wrapper around cryptsetup-luks,
 losetup and mount.
 You could create and mount a encrypted filesystem image with only
 only one command. This wrapper handles devices and filesystem-images
 and implements an efficient but also secure initialisation algorithm.
