Source: grml-crypt
Section: grml
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Build-Depends: debhelper (>= 4.0.0), xsltproc, docbook-xsl, asciidoc
Standards-Version: 3.6.1
Homepage: http://hg.grml.org/grml-crypt/
XS-Vcs-hg: http://hg.grml.org/grml-crypt/
XS-Vcs-Browser: http://hg.grml.org/grml-crypt/

Package: grml-crypt
Architecture: all
Depends: grml-shlib (>=1.02.07), cryptsetup-luks | cryptsetup (>=1.0.1-16), realpath, dmsetup
Description: wrapper around cryptsetup-luks
 This software should provide an easy wrapper around cryptsetup-luks,
 losetup and mount.
 It is possibel to create and mount an encrypted filesystem image with
 only one command. This wrapper handles devices and filesystem-images
 and implements an efficient but also secure initialisation algorithm.
