Source: grml-crypt
Section: grml
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Uploaders: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5), xsltproc, docbook-xsl, asciidoc
Standards-Version: 3.9.2
Homepage: http://git.grml.org/?p=grml-crypt.git
Vcs-git: git://git.grml.org/grml-crypt.git
Vcs-Browser: http://git.grml.org/?p=grml-crypt.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-crypt
Architecture: all
Depends: ${misc:Depends}, grml-shlib (>=1.02.07), cryptsetup-luks | cryptsetup (>=1.0.1-16), realpath, dmsetup
Description: wrapper around cryptsetup-luks
 This software should provide an easy wrapper around cryptsetup-luks,
 losetup and mount.
 It is possible to create and mount an encrypted filesystem image with
 only one command. This wrapper handles devices and filesystem-images
 and implements an efficient but also secure initialisation algorithm.
